@font-face {
	font-family: 'Bariol';
	src: url("fonts/Bariol_Regular.otf");
	src: url('fonts/BariolRegular.eot');
	src: local('BariolRegular'), url('fonts/BariolRegular.woff')
		format('woff'), url('fonts/BariolRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'Bariol';
	src: url("fonts/Bariol_Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: 'Bariol';
	src: url("fonts/Bariol_Light.otf");
	font-weight: 100;
}

* {
	font-family: "Bariol", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
}